<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Accueil</title>
	<link rel="stylesheet" type="text/css" href="./css/calendrier.css" />
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="./css/style.css"/>
	<script type="text/javascript" src="./js/lien.js"></script>
</head>
<body>
<header th:replace="~{fragments::header}"></header>
<div class="ensemble">
<div class="bloc-cal">
	<div id="calendarMain" class="calendarMain margeG">
		<script type="text/javascript" src="./js/calendrier.js"></script>
	</div>
	<table class="table-date">
		<thead id="entete">
		</thead>
		<tbody id="tableau">
		</tbody>
	</table>
	<div th:each="nouvelle:${nouvelles}" class="bloc-nouvelle">
		<h3>
			[[${nouvelle.titre}]]
		</h3>
		<p>
			[[${nouvelle.texte}]]
		</p>

		<div th:if="${inscrit.statut}=='admin' OR ${inscrit.statut}=='moderateur'">
			<p>
				Mis en ligne par [[${nouvelle.inscrit.nom}]] [[${nouvelle.inscrit.prenom}]]
			</p>
			<button th:id="'nouv'+${nouvelle.idNouvelle}">
				<script th:inline="javascript">
                    document.getElementById("nouv"+[[${nouvelle.idNouvelle}]]).onclick=function () {
                        confirmSuppr([[${nouvelle.idNouvelle}]])
                    }
				</script>
				Supprimer
			</button>
		</div>
	</div>
</div>
<div class="bloc-info bloc">
	<h2>Parties et évènements disponibles</h2>
	<div class="bloc-indiv" th:each="partie:${parties}">
		<div th:if="${partie.nomJeu!=''}" th:id="'partie'+${partie.idPartie}">
			<script th:inline="javascript">
                document.getElementById('partie'+[[${partie.idPartie}]]).onclick=function () {lienPartie(/*[[${partie.idPartie}]]*/)}
			</script>
			<figure><img th:src="'image?idPartie='+${partie.idPartie}"></figure>
			<p>[[${partie.nomScenario}]]</p>
			<p>[[${partie.nomJeu}]]</p>
			<p>[[${partie.creneau.date}]]</p>
			<p>[[${partie.creneau.heure}]]</p>
			<p>[[${partie.creneau.lieu}]]</p>
		</div>
		<div th:if="${partie.nomJeu==''}" th:id="'ev'+${partie.idPartie}">
			<script th:inline="javascript">
                document.getElementById('ev'+[[${partie.idPartie}]]).onclick=function () {lienEvent(/*[[${partie.idPartie}]]*/)}
			</script>
			<figure><img th:src="'imageE?idEvenement='+${partie.idPartie}"></figure>
			<h3>Evenement!</h3>
			<p>Vous êtes conviés lors de l'évènement [[${partie.nomScenario}]] ! </p>
			<p>Le [[${partie.creneau.date}]] </p>
			<p> [[${partie.creneau.heure}]] </p>
			<p>à [[${partie.creneau.lieu}]].</p>
		</div>
	</div>
</div>
</div>
</body>
</html>
