<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Céréale Killers</title>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="./css/style.css"/>
</head>
<body>
<header th:replace="~{fragments::header}"></header>
<div class="container">
	<div class="row">
		<h2>Se connecter</h2>
	</div>
	<form class="form-default" method="post">
		<div class="row"><label for="mail" class="col-sm-2">Mail : </label>
			<input type="text" name="mail" id="mail" placeholder="Mail" class="col-sm-2" /></div>
		<div class="row"><label for="mdp" class="col-sm-2">Mot de passe : </label>
			<input type="password" name="mdp" id="mdp" class="col-sm-2" />
			<!--a href="lien" class="col-sm-3">mot de passe oublié</a-->
		</div>
		<div class="row"><button type="submit" class="valider">Valider</button></div>
	</form>
</div>
<div class="container">
	<div class="row">
		<h2>Pas encore de compte</h2>
	</div>
	<div class="row"><a href="/creerCompte"><button>Inscription</button></a></div>
</div>
</body>
</html>
