<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Céréale Killers</title>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="./css/style.css"/>
	<script type="text/javascript" src="./js/lien.js"></script>
</head>
<body>
<header th:replace="~{fragments::header}"></header>
<div class="container" id="Parties">
	<div class="row">
		<h2>Parties disponibles</h2>
	</div>
	<div class="row">
		<table>
			<tr>
				<th>Nom du Jeu</th>
				<th>Titre</th>
				<th>Nom du créateur</th>
				<th>Date</th>
				<th>Horraire</th>
				<th>Lieu</th>
				<th></th>
			</tr>
			<tr th:each="partie:${parties}" th:id="'partie'+${partie.idPartie}"><script th:inline="javascript">
                document.getElementById("partie"+[[${partie.idPartie}]]).onclick=function () {lienPartie([[${partie.idPartie}]])}</script>
				<td>[[${partie.nomScenario}]]</td>
				<td>[[${partie.nomJeu}]]</td>
				<td>[[${partie.inscrit.nom}]] [[${partie.inscrit.prenom}]]</td>
				<td>[[${partie.creneau.date}]]</td>
				<td>[[${partie.creneau.heure}]]</td>
				<td>[[${partie.creneau.lieu}]]</td>
			</tr>
		</table>
	</div>
</div>
<div class="container" id="Creneaux">
	<div class="row">
		<h2>Créneaux disponibles</h2>
	</div>
	<div class="row">
		<table>
			<tr>
				<th>Date</th>
				<th>Horraire</th>
				<th>Lieu</th>
				<th></th>

			</tr>
			<tr th:each="creneau:${creneaux}">
				<td>[[${creneau.date}]]</td>
				<td>[[${creneau.heure}]]</td>
				<td>[[${creneau.lieu}]]</td>
				<td><a th:href="'/ajouterPartie?idCreneau='+${creneau.idCreneau}">utiliser</a></td>
				<td th:if="${inscrit.statut}=='admin' OR ${inscrit.statut}=='moderateur'"><a th:id="'creneau'+${creneau.idCreneau}"><script th:inline="javascript">
					document.getElementById("creneau"+[[${creneau.idCreneau}]]).onclick=function () {confirmSuppression([[${creneau.idCreneau}]])}</script>supprimer</a></td>
			</tr>
		</table>
	</div>
</div>
</body>
</html>