<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Céréale Killers</title>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="./css/style.css"/>
</head>
<body>
<header th:replace="~{fragments::header}"></header>
<div class="container" id="Parties">
	<div class="row justify-content-between"><h2>Parties disponibles</h2>
		<form class="searchbar">
			<input type="text" placeholder="Search.." name="search"/>
			<button type="submit">GO</button>
		</form></div>
	<div class="row">
		<table>
			<tr>
				<th>Nom du Jeu</th>
				<th>Titre</th>
				<th>Nom du créateur</th>
				<th>Date</th>
				<th>Horraire</th>
				<th>Lieu</th>
				<th></th>
			</tr>
			<tr th:each="partie:${parties}">
				<td>[[${partie.nomScenario}]]</td>
				<td>[[${partie.nomJeu}]]</td>
				<td>[[${partie.inscrit.nom}]] [[${partie.inscrit.prenom}]]</td>
				<td>[[${partie.creneau.date}]]</td>
				<td>[[${partie.creneau.heure}]]</td>
				<td>[[${partie.creneau.lieu}]]</td>
				<td><a th:href="'/detailPartie?idPartie='+${partie.idPartie}">Voir</a></td>
			</tr>
		</table>
	</div>
</div>
<div class="container" id="Creneaux">
	<div class="row">
		<h2>Créneaux disponibles</h2>
	</div>
	<div class="row">
		<table>
			<tr>
				<th>Date</th>
				<th>Horraire</th>
				<th>Lieu</th>
				<th></th>

			</tr>
			<tr th:each="creneau:${creneaux}">
				<td>[[${creneau.date}]]</td>
				<td>[[${creneau.heure}]]</td>
				<td>[[${creneau.lieu}]]</td>
				<td><a th:href="'/ajouterPartie?idCreneau='+${creneau.idCreneau}">utiliser</a></td>
				<td><a href="lien">supprimer</a></td>
			</tr>
		</table>

	</div>
</div>
</body>
</html>