<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>[[${partie.nomScenario}]]</title>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="./css/style.css"/>
	<script type="text/javascript" src="js/detailPartie.js"></script>
</head>
<body>
	<header th:replace="~{fragments::header}"></header>
	<div class="container">
		<h2>Détail de la partie</h2>
		<div class="container" id="detail-partie">
			<div class="row">
				<figure><img class="image-fond" th:src="'image?idPartie='+${partie.idPartie}"></figure>
			</div>
			<div class="row">
				<h5 class="col-sm-4">[[${partie.creneau.lieu}]]</h5>
				<h5 class="col-sm-4">[[${partie.creneau.date}]]</h5>
				<h5 class="col-sm-4">[[${partie.creneau.heure}]]</h5>
			</div>
			<div class="row">
				<p class="col-md-4">[[${partie.nomScenario}]]</p>
				<p class="col-md-4">[[${partie.typeSoiree}]]</p>
			</div>
			<div class="row">
				<p class="col-md-4">[[${partie.nomJeu}]]</p>
				<p class="col-md-4">Entre [[${partie.nbMin}]] et [[${partie.nbMax}]] joueurs.</p>
			</div>
			<div class="row">
				<p class="col-md-4">Dés utilisés [[${partie.desUtil}]]</p>
				<p class="col-md-4">Niveau attendu: [[${partie.niveauAttendu}]]</p>
			</div>
			<div class="row">
				<p class="col-md-4">Genre : [[${partie.genre}]]</p>
				<p class="col-md-4">Ton : [[${partie.ton}]]</p>
			</div>
			<div class="row">
				<p class="col-md-4">Type : [[${partie.type}]]</p>
				<p class="col-md-4">Inspiration : [[${partie.inspiration}]]</p>
			</div>
			<div class="row">
				<p class="col-md-8">[[${partie.presentation}]]</p>
			</div>
			<div class="row" id="boutons">
				<button id="participer" th:unless="${joueur} OR ${inscrit.statut}=='Visiteur' OR ${nombreParticipants >= partie.nbMax}">Participer</button>
				<p id="participer" th:if="${joueur} OR ${inscrit.statut}=='Visiteur' OR ${nombreParticipants >= partie.nbMax}"></p>
				<button id="annulerParticiper" th:if="${joueur} AND ${idInscrit!=partie.inscrit.idInscrit}">Ne plus participer</button>
				<p id="annulerParticiper" th:unless="${joueur} AND ${inscrit.statut}!='Visiteur' AND ${idInscrit!=partie.inscrit.idInscrit}"></p>
				<button th:if="${inscrit.statut}=='admin' OR ${inscrit.statut}=='moderateur'" id="suppression" class="col-md-4">Supprimer</button>
				<p th:unless="${inscrit.statut}=='admin' OR ${inscrit.statut}=='moderateur'" id="suppression" class="invisible"></p>
			</div>
			<p class="row" th:if="${inscrit.statut}=='admin'">Mis en ligne par: [[${partie.inscrit.nom}]] [[${partie.creneau.inscrit.prenom}]]</p>
			<p class="row" th:if="${inscrit.statut}=='admin'">Creneau mis a disposition par: [[${partie.creneau.inscrit.nom}]] [[${partie.creneau.inscrit.prenom}]]</p>
		</div>
	</div>
	<div th:unless="${inscrit.statut}=='Visiteur'" class="container pre-scrollable" id="ajout-joueur">
		<div class="row" id="participants">
			<h5 class="col-md-10">Ils y participent également :</h5>
			<div th:each="participant:${participants}" class="col-md-10" th:id="'participant'+${participant.idInscrit}">
				<p th:if="${participant.idInscrit==partie.inscrit.idInscrit}">Maître de Jeu :  [[${participant.prenom}]] [[${participant.nom}]]</p>
				<p th:unless="${participant.idInscrit==partie.inscrit.idInscrit}">[[${participant.prenom}]] [[${participant.nom}]]</p>
			</div>
		</div>
	</div>
	<p class="invisible" id="idPartie">[[${partie.idPartie}]]</p>
	<p class="invisible" id="idCreneau">[[${partie.creneau.idCreneau}]]</p>
</body>
</html>