<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Détail</title>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="./css/style.css"/>
	<script type="text/javascript">
		function confirmSuppression(idPartie,idCreneau) {
			console.log(idCreneau);
			console.log(idPartie);
			if (confirm("Voulez-vous vraiment supprimer cette partie ?")) {
				// Clic sur OK
				document.location.href="/supprimerPartie?idPartie="+idPartie+"&idCreneau="+idCreneau;
			}
		}
    </script>
</head>
<body>
	<header th:replace="~{fragments::header}"></header>
	<div class="container">
		<h2>Détail de la partie</h2>
		<div class="container" id="detail-partie">
			<div class="row">
				<img src="./image/chtulu.jpg">
			</div>
			<div class="row">
				<h5 class="col-sm-4">[[${partie.creneau.lieu}]]</h5>
				<h5 class="col-sm-4">[[${partie.creneau.date}]]</h5>
				<h5 class="col-sm-4">[[${partie.creneau.heure}]]</h5>
			</div>
			<div class="row">
				<p class="col-md-4">[[${partie.nomScenario}]]</p>
				<p class="col-md-4">[[${partie.typeSoiree}]]</p>
			</div>
			<div class="row">
				<p class="col-md-4">[[${partie.nomScenario}]]</p>
				<p class="col-md-4">Entre [[${partie.nbMin}]] et [[${partie.nbMax}]] joueurs.</p>
			</div>
			<div class="row">
				<p class="col-md-4">Dés utilisés [[${partie.desUtil}]]</p>
				<p class="col-md-4">Niveau attendu: [[${partie.niveauAttendu}]]</p>
			</div>
			<div class="row">
				<p class="col-md-4">Genre : [[${partie.genre}]]</p>
				<p class="col-md-4">Ton : [[${partie.ton}]]</p>
			</div>
			<div class="row">
				<p class="col-md-4">Type : [[${partie.type}]]</p>
				<p class="col-md-4">Inspiration : [[${partie.inspiration}]]</p>
			</div>
			<div class="row">
				<p class="col-md-8">[[${partie.presentation}]]</p>
			</div>
			<div th:if="${inscrit.statut}=='admin' OR ${inscrit.statut}=='moderateur'" class="row">
				<button th:id="${partie.idPartie}" class="col-md-4"><script th:inline="javascript">
            		document.getElementById(/*[[${partie.idPartie}]]*/).onclick=function () {
                			confirmSuppression(/*[[${partie.idPartie}]],[[${partie.getCreneau().idCreneau}]]*/)}</script>supprimer</button>
			</div>
		</div>
	</div>
	<div class="container" id="ajout-joueur">
			<form action="">
				<button>j'y participe</button>
			</form>
		<div class="row">
			<p>Ils y participent également :</p>
		</div>
	</div>
</body>
</html>