<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>menu site</title>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="./css/style.css"/>
</head>
<body>
<header th:fragment="header">
	<nav class="row" id="menu-haut">
		<a href="/accueil" class="col-sm-3 bouton-menu">Accueil</a>
		<a href="lien" class="col-sm-3 bouton-menu">Qui sommes-nous ?</a>
		<a href="lien" class="col-sm-3 bouton-menu">Nos Partenaire</a>
		<div class="col-sm-3 bouton-menu">Menu
			<ul class="niveau2">
				<a href="/connexion"><li>Se connecter</li></a>
				<a href="lien"><li>Profil</li></a>
				<a href="/creneauPartie"><li>Créneaux et parties disponibles</li></a>
				<a href="lien"><li>Historique</li></a>
				<a href="/ajouterCrEvNews"><li>Ajouter évènement/News(modo)</li></a>
				<a href="/partieAttente"><li>Parties en attente(modo)</li></a>
				<a href="lien"><li>Liste inscrits(admin)</li></a>
				<a href="lien"><li>Deconnexion</li></a>
			</ul>
		</div>
	</nav>
	<div class="row">
		<figure class="image-fond"><img class="image-fond" src="./image/banner.jpg"></figure>
	</div>
</header>

</body>
</html>