<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Céréale Killers</title>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="./css/style.css"/>
</head>
<body>
	<header th:replace="~{fragments::header}"></header>
	<div class="container" id="Parties">
		<div class="row justify-content-between"><h2>Parties en attente</h2>
		<div class="row">
			<table>
				<tr>
					<th>Nom du Jeu</th>
					<th>Titre</th>
					<th>Nom du créateur</th>
					<th>Date</th>
					<th>Horraire</th>
					<th>Lieu</th>
					<th></th>
				</tr>
				<tr>
					<td>Nom</td>
					<td>Titre</td>
					<td>Nom</td>
					<td>Date</td>
					<td>Horraire</td>
					<td>Lieu</td>
					<td><a href="lien">voir</a></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>