<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Céréale Killers</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<script type="text/javascript" src="js/lien.js"></script>
</head>
<body>
	<header th:replace="~{fragments::header}"></header>
	<div class="container" id="Parties">
		<div class="row justify-content-between"><h2>Parties en attente</h2>
		<div class="row">
			<table>
				<tr>
					<th>Nom du Jeu</th>
					<th>Titre</th>
					<th>Nom du créateur</th>
					<th>Date</th>
					<th>Horraire</th>
					<th>Lieu</th>
					<th></th>
				</tr>
				<tr th:each="partie:${parties}" th:id="${partie.idPartie}"><script th:inline="javascript">
                    document.getElementById([[${partie.idPartie}]]).onclick=function () {validerPartie([[${partie.idPartie}]])}</script>
					<td>[[${partie.nomScenario}]]</td>
					<td>[[${partie.nomJeu}]]</td>
					<td>[[${partie.inscrit.nom}]] [[${partie.inscrit.prenom}]]</td>
					<td>[[${partie.creneau.date}]]</td>
					<td>[[${partie.creneau.heure}]]</td>
					<td>[[${partie.creneau.lieu}]]</td>
					<!--td><a th:href="'/validerPartie?idPartie='+${partie.idPartie}">Voir</a></td-->
				</tr>
			</table>
		</div>
	</div>
</body>
</html>