<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>menu site</title>
	<link rel="stylesheet" type="text/css" href="./css/calendrier.css" />
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="./css/style.css"/>
	<script type="text/javascript" src="js/onglets.js"></script>
	<script type="text/javascript" src="js/lien.js"></script>
</head>
<body>
<header th:replace="~{fragments::header}"></header>
<div class="ensemble">
	<div class="bloc-cal">
		<div id="calendarMain" class="calendarMain margeG">
			<script type="text/javascript" src="./js/calendrier.js"></script>
		</div>
		<table class="table-date">
			<thead id="entete">
			</thead>
			<tbody id="tableau">
			</tbody>
		</table>
	</div>
	<div class="bloc" id="onglet">
		<div class="systeme_onglets">
	        <div class="onglets">
	            <span class="onglet_0 onglet" id="onglet_profil" onclick="javascript:change_onglet('profil');">Profil</span>
	            <span class="onglet_0 onglet" id="onglet_Coordonnees" onclick="javascript:change_onglet('Coordonnees');">Coordonnees</span>
	            <span class="onglet_0 onglet" id="onglet_historique" onclick="javascript:change_onglet('historique');">Historique</span>
	        </div>
	        <div class="contenu_onglets">
	            <div class="contenu_onglet" id="contenu_onglet_profil">
	                <h3>Bonjour, [[${inscrit.prenom}]]</h3>
	             	<div class="row">
	             		<div class="col-md-3">
	             			Nom : [[${inscrit.nom}]]
	             		</div>
	             		<div class="col-md-3">
	             			Prénom : [[${inscrit.prenom}]]
	             		</div>
	             	</div>
	             	<div class="row">
	             		<div class="col-md-6">
	             			Statut : [[${inscrit.statut}]]
	             		</div>
	             	</div>
	            </div>
	            <div class="contenu_onglet" id="contenu_onglet_Coordonnees">
	                <h3>Coordonnées</h3>
	               	<div class="row">
	             		<div class="col-md-6">
							Mail : [[${inscrit.mail}]]
	             		</div>
	     
	             		<div class="col-md-6">
	             			Telephone : [[${inscrit.telephone}]]
	             		</div>
	             	</div>
	             	<div class="row">
	             		<div class="col-md-6">
							[[${inscrit.adresse}]]
	             		</div>
	             	</div>
	            </div>
	            <div class="contenu_onglet" id="contenu_onglet_historique">
					<h3>Historique des parties</h3>
					<div th:each="partieP:${partiesPassee}" class="row">
						<div class="col-sm-2">[[${partieP.nomScenario}]]</div>
						<div class="col-sm-2">[[${partieP.nomJeu}]]</div>
						<div class="col-sm-2">[[${partieP.creneau.date}]]</div>
						<div class="col-sm-2">[[${partieP.creneau.heure}]]</div>
						<div class="col-sm-2">[[${partieP.creneau.lieu}]]</div>
					</div>
	            </div>
	        </div>
	    </div>
	    <script type="text/javascript">
	                var anc_onglet = 'profil';
	                change_onglet(anc_onglet);
		</script>

		<div class="margehaut">
			<div class="row">
				<h3>Inscriptions sur les parties à venir : </h3>
			</div>
			<table>
				<tr>
					<th>Nom du Jeu</th>
					<th>Titre</th>
					<th>Date</th>
					<th>Horraire</th>
					<th>Lieu</th>
				</tr>
				<tr th:each="partie:${parties}" th:id="'partie'+${partie.idPartie}">
					<script th:inline="javascript">
                    	document.getElementById("partie"+[[${partie.idPartie}]]).onclick=function () {lienPartie([[${partie.idPartie}]])}
					</script>
					<td>[[${partieF.nomScenario}]]</td>
					<td>[[${partieF.nomJeu}]]</td>
					<td>[[${partieF.creneau.date}]]</td>
					<td>[[${partieF.creneau.heure}]]</td>
					<td>[[${partieF.creneau.lieu}]]</td>
				</tr>
			</table>
		</div>
	</div>
</div>
</body>

</html>