<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Les céréales Killers</title>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="./css/style.css"/>
</head>
<body>
<header th:replace="~{fragments::header}"></header>
<div class="container">
	<div>
	<div class="row">
		<h2>L'association du jeu de rôle de Valenciennes</h2>
		<p>Les Céréales Killers est une association qui a pour objectif de promouvoir et rendre
			accessible les activités autour des Jeux de Rôles.</p>
	</div>
	</div>
</div>
<div class="container">
		<h2 class="row">Coordonnées</h2>
		<p class="row">thecerealeskillers@gmail.com</p>
		<p class="row"> 06 69 02 22 25</p>
</div>

</body>
</html>