.bouton-menu{
	border-style: solid;
	border-color: black;
	background-color: #e66f10;
	height:40px;
	padding: 0.1%;
	text-align: center;
}

#menu-haut{
	padding-right: 1%;
	padding-left: 1%; 
	border-right: solid;
	border-left: solid;
	background-color: black;
}

.image-fond{
	width: 100%;
	height: 100px;
}

div ul
{
	display: none;
	list-style: none;
}

.niveau2 a:hover li
{
	color:#ffe8a1;
	z-index: 3;
}

#invisible {
	display: none;
	position: fixed;
	top: -999px;
}

div:hover ul.niveau2, div li:hover, #menu-haut div:hover{
	display:block;
	background-color: black;
	color: #e66f10;

}

ul.niveau2{
	border-color: black;
	border-style: solid;
	border-top: none;
	border-width: 1px;
	margin-left: -1%;
	width: 102%;

}

li{
	color: #e66f10;
}

header a{
	text-decoration: none;
	color: black;
}

header a:hover{
	background-color: black;
	color:#e66f10;
	text-decoration: none;
}

body{
	background-color: white;
}

/*CSS pour accueil.html*/

.bloc-info{
	float: right;
	background-color: #e66f10;
	border-color: black;
	border-style: solid;
	border-width: 1%;
	width: 70%;
	height: 600px;
	margin-right: 5%;
}

.bloc-info h2{
	margin: 1%;
	margin-left: 2%;
}

.col-xs-4{
	margin:10px;
}

.searchbar{
	height: 30px;
	margin-left: 20px;
}

#f-accueil{
	float: left;
	margin-left:5%;
}

.valider{
	margin-left: 25%;
}

form .row{
	margin-top: 10px;
	margin-bottom:10px;
}

th, td{

	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px; 

}

th{
	border-bottom-style: solid;
}

#Creneaux{
	margin-top: 100px;
}

textarea{
	width: 110%;
	height: 100px;
}

input, select, textarea{
	margin: 10px;
}

#detail-partie{
	float: left;
	background-color: #e66f10;
	border-style: solid;
	margin-top:20px;
	margin-left: 10px;
	width: 60%;
}

#detail-partie img{
	width: 100%;
	height: 100px;
}

#ajout-joueur{
	position: fixed;
	right: 0px;
	top:140px;
	width: 25%;
	border-left-style: solid;
	background-color: #e66f10;
	height: 100%;
	z-index: -1;
}

#ajout-joueur button{
	margin-top: 20px;
	margin-left: 35%;
}

#ajout-joueur p{
	margin-left: 10%;
	margin-top: 10px;
}


#onglet{
	
	width:	50%;
	margin-right: 50px;
}

.recapitulation{
	margin-top: 50px;
	margin-left: 50%;
	width: 50%;
}

 .onglet
 {
	display:inline-block;
	margin-left:20px;
	padding:3px;
    border:1px solid black;
    cursor:pointer;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 20%;
    text-align: center;

}
.onglet_0
{
    background:#bbbbbb;
    border-bottom:1px solid black;
}
.onglet_1
{
    background:#dddddd;
    border-bottom:0px solid black;
    padding-bottom:4px;
}

.contenu_onglet
{
    background-color:#dddddd;
    border:1px solid black;
    margin-top:-1px;
    display:none;
    padding: 2%;
    border-radius: 5px;

}

table td:hover{
	cursor: pointer;
}