.bouton-menu{
	border-style: solid;
	border-color: black;
	background-color: #e66f10;
	height: 40px;
	padding: 4px;
	text-align: center;
}

#menu-haut{
	padding-right: 1%;
	padding-left: 1%; 
	border-right: solid;
	border-left: solid;
	background-color: black;
}

.image-fond{
	width: 100%;
	height: 100px;
}

div ul
{
	display: none;
	list-style: none;
}

.niveau2 a:hover li
{
	color:#ffe8a1;
	z-index: 3;
}

#invisible {
	display: none;
	position: fixed;
	top: -999px;
}

div:hover ul.niveau2, div li:hover, #menu-haut div:hover{
	display:block;
	background-color: black;
	color: #e66f10;

}

ul.niveau2{
	border-color: black;
	border-style: solid;
	border-top: none;
	border-width: 1px;
	margin-left: -1%;
	width: 102%;
}

li{
	color: #e66f10;
}

header a{
	text-decoration: none;
	color: black;
}

header a:hover{
	background-color: black;
	color:#e66f10;
	text-decoration: none;
}

body{
	background-color: white;
}

/*CSS pour accueil.html*/
.ensemble{
	display: flex;
	flex-wrap: wrap;
}

.bloc-cal a{
	color: black;
	text-decoration:none;
}

.margeG{
	padding-left: 15%;
}

.bloc-cal{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	float: left;
	width: 300px;
	margin-bottom: 40px;
}

.bloc-info{
	display: flex;
	flex-wrap: wrap;
	float: top;
	height: fit-content;
	padding-left: 20px;
}

@media (min-width: 600px) {
	.bloc {
		max-width: 600px;
	}
}

@media (min-width: 790px) {
	.bloc {
		max-width: 480px;
	}
}

@media (min-width: 1030px) {
	.bloc {
		max-width: 710px;
	}
}

@media (min-width: 1255px) {
	.bloc {
		max-width: 940px;
	}
}

@media (min-width: 1490px) {
	.bloc {
		max-width: 1170px;
	}
}

.bloc-info h2{
	width: 100%;
	margin-bottom: 5px;
	padding-left: 10px;
}

.bloc-indiv{
	border-radius: 10px;
	background-color: #e66f10;
	border-color: black;
	border-style: solid;
	width: 200px;
	margin-right: 30px;
	margin-bottom: 20px;
}

.bloc-indiv figure{
	margin: 0;
	background-color: black;
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.bloc-indiv img{
	border-radius: 10px 10px 0 0;
	width: 100%;
	max-height: 50px;
}

.bloc-nouvelle{
	border-radius: 10px;
	background-color: #e66f10;
	border-color: black;
	border-style: solid;
	width: 200px;
	margin-left: 50px;
	margin-top: 30px;

}

.col-xs-4{
	margin:10px;
}

.searchbar{
	height: 30px;
	margin-left: 20px;
}

#f-accueil{
	float: left;
	margin-left:5%;
}

.valider{
	margin-left: 25%;
}

form .row{
	margin-top: 10px;
	margin-bottom:10px;
}

th, td{
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
}

.table-date td, .table-date th{
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	max-width: 150px;
}

th{
	border-bottom-style: solid;
}

#Creneaux{
	margin-top: 100px;
}

.form-default textarea{
	width: 110%;
	height: 100px;
}

.form-default input, .form-default select, .form-default textarea{
	margin: 10px;
}

#detail-partie{
	float: left;
	background-color: #e66f10;
	border-style: solid;
	margin-top:20px;
	margin-left: 10px;
	width: 60%;
	border-radius: 15px;
	margin-bottom: 50px;
	min-width: 250px;
}

#detail-partie figure{
	border-radius: 10px 10px 0 0;
	margin: 0;
	background-color: black;
	width: 100%;
}

#detail-partie img{
	border-radius: 10px 10px 0 0;
	max-width: 100%;
	max-height: 80px;
}

#detail-partie button{
	border-radius: 15px;
	margin: auto;
}

#ajout-joueur{
	position: relative;
	float: right;
	right: 0;
	min-width: 300px;
	max-width: 30%;
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-style: solid;
	background-color: #e66f10;
	min-height: 150px;
	z-index: -1;
	margin-left: 50px;
	border-radius: 10px 0 0 10px;
}

#ajout-joueur p{
	margin-left: 10%;
	margin-top: 10px;
}

#onglet{
	
	width:	50%;
	margin-right: 50px;
}

.recapitulation{
	margin-top: 50px;
	margin-left: 50%;
	width: 50%;
}

 .onglet
 {
	display:inline-block;
	margin-left:20px;
	padding:3px;
    border:1px solid black;
    cursor:pointer;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 20%;
    text-align: center;

}
.onglet_0
{
    background:#bbbbbb;
    border-bottom:1px solid black;
}
.onglet_1
{
    background:#dddddd;
    border-bottom:0px solid black;
    padding-bottom:4px;
}

.contenu_onglet
{
    background-color:#dddddd;
    border:1px solid black;
    margin-top:-1px;
    display:none;
    padding: 2%;
    border-radius: 5px;

}

table td:hover{
	cursor: pointer;
}

.bloc-partenaire{
	border-radius: 10px;
	background-color: #e66f10;
	border-color: black;
	border-style: solid;
	width: 500px;
	margin-right: 30px;
	margin-bottom: 20px;
}


.bloc-partenaire label{
	width: 20px;
	margin-left: 0px;
	margin-right: 5px;
}

.margehaut{
	margin-top: 20px;
}